#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  background: #696565;
  background: radial-gradient(
    circle,
    rgba(105, 101, 101, 1) 9%,
    rgba(48, 48, 51, 1) 100%,
    rgba(5, 5, 5, 1) 100%
  );
  /* color: rgb(173, 6, 90); */
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 25px;
  color: rgb(255, 158, 174);

}

.container {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.produto-card img {
  width: 50%;
  align-content: center;
  border-radius: 20px;
}
.produto-card h3,
p {
  font-family: cursive;
  font-size: 22px;
  font-style: bold;
}

button {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 5px 10px; /* Centers horizontally */
  padding: 16px 15px;
}
